.calculator
{
  width: 400px;
  /* height: 600px; */
  margin: auto;
  margin-top: 50px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 5px 5px 15px grey;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.calculator-screen
{
  width: 90%;
  height: 50px;
  margin: 0px 15px; 
  align-items: center;
  font-size: 30px;
}

.buttons
{
  /* border: 2px solid red; */
  width: 90%;
  height: 70%;
  margin: 20px;
}

.btn_div_1
{
  width: 100%;
  /* border: 1px solid black; */
}
.btn{
  width: 23%;
  height: 70px;
  margin: 1%;
  font-size: 35px;
  border: 3px solid black;
  border-radius: 10px;
}

.btn:hover
{
  background-color: lightgrey;
  cursor: pointer;
} 

.input_show
{
  font-size: 30px;
  margin-top: 10px;
  font-weight: 600;
}